@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --cellsize: 40px;
}

.cell{
  width: var(--cellsize);
  height: var(--cellsize);
  box-sizing: border-box;
  line-height: var(--cellsize);
}

.cell > div {
  width: var(--cellsize);
  height: var(--cellsize);
}